{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "main.css" %}">
    <title>Главная</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Домен</th>
                <th>Лимиты</th>
            </tr>
        </thead>
        <tbody>
            {% for domain in page.domains %}
                <tr>
                    <td>{{ domain.name }}</td>
                    <td>{{ domain.limit }}</td>
                    <td><a href="?domain={{ domain.name }}"><button>Удалить</button></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if page.prev %}
        <a href="?page={{ page.num_prev }}"><<</a>
    {% endif %}
    {% if page.prev or page.next %}
        Страница {{ page.page_number }}
    {% endif %}
    {% if page.next %}
        <a href="?page={{ page.num_next }}">>></a>
    {% endif %}
    <div class="domains">
        {% for domain in domains %}
            <li>{{ domain.name }} {{ domain.limit }}</li>
        {% endfor %}
    </div>
    <form action="/add-domain/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    {{ request.session.success }}
    {{ domain_delete }}

    <form action="/upload-data/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_upload }}
        <input type="submit" value="Submit">
    </form>

    <form action="/add-xml-proxy/" method="post">
        {% csrf_token %}
        {{ form_xml }}
        <input type="submit" value="Submit">
    </form>
    {{ request.session.key_success }}

    <form action="/sort-unload/" method="post">
        {% csrf_token %}
        <input type="text" name="domains" value="{% for domain in page.domains %}{{ domain.name }};{% endfor %}">
        <input type="submit" value="Запустить сбор данных в файл">
    </form>
    {{ request.session.error_xmlproxy }}
    {{ request.session.success_result }}
    {% if request.session.file %}
        <a href="{{ request.session.file }}" download="result_admin.csv">Download</a>
    {% endif %}
    <div class="logout"><a href="{% url 'logout' %}">Выйти из системы</a></div>
</body>
</html>